/*美食概述*/
#tab1,#tab2,#tab3,#tab4,#tab5{
	background-color: rgb(255,255,255);
}
#tab1 .fooddesc p{
	text-indent: 2em;
	line-height: 1.3em;
}

/*推荐,概述,名菜,食街*/
#tab1 .fooddesc .itemtitle,#tab1 .foodrecomend > p,#tab1 .famous > p,#tab1 .foodstreet > p{
	font-size: 1.2em;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 20px 0;

}


/*美食推荐*/


.flexslider .slides li > img{float: left;margin: 8px}


/* 名菜馆 */

#tab1 .famous .famouscontent{
	position: relative;

}
#tab1 .famous .famouscontent ul{
	list-style: none;
}
#tab1 .famous .famouscontent .famousdsc{
	position: absolute;
	left: 400px;
	top: 0;
}

#tab1 .famous .famouscontent .famousdsc ul li{
	float: left;
	width: 150px;
	text-align: center;
	margin-top: 5px;
}

/*美食街*/




#tab1 .flexslider { position: relative; height: 600px; background: url(../images/loading.gif) 50% no-repeat;}
#tab1 .slides { position: relative; z-index: 1;}
#tab1 .slides li { height: 560px;}
#tab1 .flex-control-nav { position: absolute; bottom: 0px; z-index: 2; width: 100%; text-align: center;}
#tab1 .flex-control-nav li { display: inline-block; width: 14px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}
#tab1 .flex-control-nav a { display: inline-block; width: 14px; height: 14px; line-height: 40px; overflow: hidden; background: url(../images/dot.png) right 0 no-repeat; cursor: pointer;}
#tab1 .flex-control-nav .flex-active { background-position: 0 0;}