.sum{
	width: 1012px;
	color: #5d5d5d;
	margin: 20px auto;
}
.sum .sumtitle{
	text-align: center;
	margin: 20px auto;
	font-size: 1.2em;

}
.sum .sumdesc{
	text-indent: 2em;
	line-height: 1.5em;
	/*letter-spacing: 3px;*/
}

.frame{
	width: 1012px;
	margin: 0 auto;
}
.lcell{
	position: relative;
	display: inline-block;
	color: rgb(255,255,255);
	font-size: 1em;
	overflow: hidden;
	margin-top: 8px;
}
.cellright{
	/*position: relative;*/
	/*display: inline-block;
	color: rgb(255,255,255);
	font-size: 1em;
	overflow: hidden;*/
	margin-right: 8px;
}

.clearInnerBlock{
	zoom: 1;
}
.clearInnerBlock:after{
	content: "<div></div>";
	display: block;
	width: 0;
	height: 0;
	visibility:hidden; 
	clear:both;
}

.lcell .ldesc{
	position: absolute;
	width: 100%;
	/*margin: 20px auto;*/
	background-color: rgba(10,0,0,.5);
	height: 100%;
}

.ldefault{
	top:233px;
	left: 0;
}

.lcell .ldesc .cellname{
	margin: 20px auto;
	width: 85%;
	border-bottom: solid rgb(255,255,255) 2px;
	padding-bottom: 15px;
}
.lcell .ldesc .descrition{
	width: 85%;
	margin: 0 auto;
}
.lcell .ldesc .descrition > p{
	line-height: 2em;
	text-indent: 2em;
}
.lcell .ldesc .cellname > span{
	font-size: 1.2em;
	font-weight: 400;
}
.lcell .ldesc .cellname > a{
	float: right;
	font-size: .8em;
	display: none;
	line-height: 1.2em;
	height: 1.2em;
	position: relative;
	top: 1em;
}

.lcell .ldesc .cellitem{
	border-top: solid rgb(255,255,255) 2px;
	padding-top: 15px;
	width: 85%;
	margin: 80px auto;
	
}
.lcell .ldesc .nondesc{

}
.lcell .ldesc .havedesc{
	margin: 10px auto;
}

.lcell .ldesc .cellitem > div{
	/*width: 44%;*/
	float: left;
}
.lcell .ldesc .ctwo > div{
	width: 49%;
}
.lcell .ldesc .cthree > div{
	width: 33%;
}

.lcell .ldesc .cellitem div > a{
	display: block;
	margin: 10px 0;
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	color: rgb(200,200,0);
}






